.border{
    border:1px solid black;
    margin:4px;
}
.flex{
    display: flex;
}
.justify-content{
    justify-content: center;
}

.items{
    align-items: center;
}

.gray{
    background-color: #141414;
}

.border-red{
     border:1px solid red;
     
}

.color{
    color:white;
}